{% extends "base.html" %}

{% block main %}
<h2>Contact Form </h2> 
<h6> Fill in this form to contact the site owners</h6>

    <form action method='POST'>
        {{ form.csrf_token}}
        <div>
            <p> {{ form.name.label}} <span class = 'req'>(Required) </span></p> 
           
            <h6> Please enter your full name.</h6>
            {{ form.name(class="rounded_input")}} 
           
        </div>
         <br />
        <div>
            <p> {{ form.email.label}} <span class='req'>(Required) </span></p>
            <h6>Pleas enter your e-mail address</h6>
            {{form.email(class = "rounded_input")}}
            
            
        </div>
         <br />
        <div>
            <p> {{ form.subject.label}} <span class='req'>(Required) </span></p>
            <h6>Please enter the subject for your message.</h6>
           {{ form.subject(class = "rounded_input")}}
        </div>

         <br/>
        <div>
           <p> {{ form.message.label}} <span class='req'>(Required) </span></p>
            <h6>Please enter the message you would like to send.</h6>
           {{form.message(class = "rounded_input", id = 'message')}}
        </div>
        
        <button id = 'submitButton' type="submit">Send</button>
    </form>
    
    



{% endblock  %}   
